---
import Layout from "../layout/Layout.astro";
---

<Layout>  
    
<h1 class="text-center">Lo sentimos, la página que estás buscando no se encuentra.</h1>
    <div class="text-center">
<img src="public/error404.jpg" alt="error"  class="img-fluid"  width="1000px">
<p>Por favor, verifica la URL o intenta regresar a la página anterior.</p>
</div>

</Layout>

    