---
import Layout from "../layout/Layout.astro";
import Hero from "../components/Hero.astro";
import Hero02 from "../components/Hero02.astro";
---

<Layout>

   <h1 class="text-center">Inicio</h1> 
   <Hero/>
   <Hero02/>


</Layout>


