<footer>
    <h4 class="text-center">Todos los derechos reservados  to Jesus Meza</h4>
</footer>

<style>
    footer{
        position:fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: gray;

    }


</style>